<!DOCTYPE html>
<html>
<head>	
<!-- ad -->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6943220390459023"
     crossorigin="anonymous"></script>
	 
	 	<script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6943220390459023"></script>
	 
	<!-- ad -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="<%= config.author %>">
	<link rel="Icon"  sizes="32x32" href="/favicons/favicons.png" />

    <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    <% let title = [config.title] %>
    <% if (page.tag) {
        title.unshift(`${__('tags')}: ${page.tag}`)
    } %>
    <% if (page.category) {
        title.unshift(`${__('categories')}: ${page.category}`)
    }%>
    <% if (page.archive) {
        title.unshift(`${__('archive_a')}`)
    }%>
    <% if (page.title) {
        title.unshift(`${page.title}`)
    }%>
    <title><%= title.join(' | ') %></title>
    <link href=”<%- config.url %>“ rel=”prefetch” />
     <%- css(['css/bootstrap.min.css', 'css/aos.css' , 'css/style.css']) %>
    <!-- <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <!--<%- js('js/jquery.min.js') %> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <%- js('js/bootstrap.min.js') %> -->
    <script src="//stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.3/polyfill.min.js"></script>
    <!-- vue -->
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.8/index.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/locale/zh-TW.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.8/theme-chalk/index.min.css" rel="stylesheet">
    <script>
      ELEMENT.locale(ELEMENT.lang.zhTW);
    </script>
    <!-- vue -->



    <%- js('js/aos.js') %>
    <%- js('js/highslide/highslide-full.min.js') %>
    <%- css('js/highslide/highslide.css') %>
    <style type="text/css">
        @media (max-width: 768px) {
            body {
                background-color: #f0f0f0;
                background: url('/imgs/<%= theme.xs_bg_image %>');
                background-attachment: fixed;
            }
        }
    </style>
    <% if(theme.leancloud.appid && theme.leancloud.appkey) { %>
    <script src="//cdn1.lncld.net/static/js/3.4.2/av-min.js"></script>
    <script>
      AV.init({
        appId: '<%= theme.leancloud.appid %>',
        appKey: '<%= theme.leancloud.appkey %>'
      })
    </script>

    <% } %>
    <!--<script type="text/javascript">
      if (document.images) {
        var avatar = new Image();
        avatar.src = '<%- url_for('imgs/' + theme.author_image) %>'
        var previews = '<%= theme.default_preview %>'.split(',')
        var previewsPreLoad = []
        for(var i = 0; i < length; i++) {
          previewsPreLoad.push(new Image())
          previewsPreLoad[previewsPreLoad.length - 1].src = '<%- url_for('imgs/preview') %>' + previews[i]
        }
      }
    </script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134954724-1"></script>
 <!--	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
 <!-- <script> -->
 <!--  (adsbygoogle = window.adsbygoogle || []).push({ -->
 <!--    google_ad_client: "ca-pub-6943220390459023",-->
  <!--   enable_page_level_ads: true-->
 <!--  });-->
 <!--</script> -->

    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-134954724-1');
    </script>

<style>.bmc-button img{height: 34px !important;width: 35px
!important;margin-bottom: 1px !important;box-shadow: none
!important;border: none !important;vertical-align: middle
!important;}.bmc-button{padding: 7px 10px 7px 10px
!important;line-height: 35px !important;height:51px
!important;min-width:217px !important;text-decoration: none
!important;display:inline-flex !important;color:#FFFFFF
!important;background-color:#FF813F !important;border-radius: 5px
!important;border: 1px solid transparent !important;padding: 7px 10px
7px 10px !important;font-size: 20px !important;letter-spacing:-0.08px
!important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5)
!important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190,
0.5) !important;margin: 0 auto !important;font-family:'Lato',
sans-serif !important;-webkit-box-sizing: border-box
!important;box-sizing: border-box !important;-o-transition: 0.3s all
linear !important;-webkit-transition: 0.3s all linear
!important;-moz-transition: 0.3s all linear !important;-ms-transition:
0.3s all linear !important;transition: 0.3s all linear
!important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus
{-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5)
!important;text-decoration: none !important;box-shadow: 0px 1px 2px
2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85
!important;color:#FFFFFF !important;}</style>

</head>
