<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="<%= config.author %>">
	<link rel="Icon"  sizes="32x32" href="/favicons/favicons.png" />
	<script>
        (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
        h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
        l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
        r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
        n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
        A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
        sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
        void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
        (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
        sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
        a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
        ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
        !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
        y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
        d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
        a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
        trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
        (window,"UA-134954724-1",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
    </script>
    <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    <% let title = [config.title] %>
    <% if (page.tag) {
        title.unshift(`${__('tags')}: ${page.tag}`)
    } %>
    <% if (page.category) {
        title.unshift(`${__('categories')}: ${page.category}`)
    }%>
    <% if (page.archive) {
        title.unshift(`${__('archive_a')}`)
    }%>
    <% if (page.title) {
        title.unshift(`${page.title}`)
    }%>
    <title><%= title.join(' | ') %></title>
    <link href=”<%- config.url %>“ rel=”prefetch” />

    <%- css(['css/bootstrap.min.css', 'css/aos.css' , 'css/style.css']) %>
    <%- js('js/jquery.min.js') %>
    <%- js('js/bootstrap.min.js') %>
    <%- js('js/aos.js') %>
    <%- js('js/highslide/highslide-full.min.js') %>
    <%- css('js/highslide/highslide.css') %>
    <style type="text/css">
        @media (max-width: 768px) {
            body {
                background-color: #f0f0f0;
                background: url('/imgs/<%= theme.xs_bg_image %>');
                background-attachment: fixed;
            }
        }
    </style>
    <% if(theme.leancloud.appid && theme.leancloud.appkey) { %>
    <script src="//cdn1.lncld.net/static/js/3.4.2/av-min.js"></script>
    <script>
      AV.init({
        appId: '<%= theme.leancloud.appid %>',
        appKey: '<%= theme.leancloud.appkey %>'
      })
    </script>
    <% } %>
    <!--<script type="text/javascript">
      if (document.images) {
        var avatar = new Image();
        avatar.src = '<%- url_for('imgs/' + theme.author_image) %>'
        var previews = '<%= theme.default_preview %>'.split(',')
        var previewsPreLoad = []
        for(var i = 0; i < length; i++) {
          previewsPreLoad.push(new Image())
          previewsPreLoad[previewsPreLoad.length - 1].src = '<%- url_for('imgs/preview') %>' + previews[i]
        }
      }
    </script>-->
	<script>document.location.href=”https://tsuiokuyo.netlify.com/”;</script>
</head>